* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins;
    color: #f0f0f0;
}

body {
    min-height: 100vh;
    background: #000;
    font-weight: 600;
    color: #a2a5b3;
    display: flex;
    align-items: center;
}

h1 {
    color: #fff;
}

.card {
    margin: 0 auto;
    padding: 2em;
    width: 400px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, orange, yellow, lime, blue, purple, pink, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(3.5rem);
    opacity: 0.5s;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 365deg;
    }
}